<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
 
 <p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Sign Out', 'root_url' %>